

.recipe-list{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    font-family: "Gulfs Display Normal", sans-serif;
    font-size: 20px;
    width: 100vw;
    margin: 20px;
    padding: 20px 40px;
    list-style-type: disc;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 11px 11px 9px -7px rgba(0,0,0,0.75);
}

