@import url("fonts/stylesheet.css");

.header {
  background-color:#9B9B9B;
  height: 27vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#logo-left {
  /* background-color: aquamarine; */
  height: 100%;
  width: 25vw;
  display: flex;
  align-items: center;
}

#logo {
  height: 90%;
  width: auto;
  margin-left: 20px;
}

.header-right {
  /* background-color: #e81111; */
  width: 75vw;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  align-items: center; 
}

.search-container {
  margin-top: auto;
  width: 60%;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

#search-bar {
  width: 60%;
  height: 4vh;
}

#ser-btn {
  height: 100%;
  margin-left: 10px;
}

.menus {
  list-style: none;
  width: 100%;
  color: black;
  font-family: "Gulfs Display Normal", sans-serif;
  font-size: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-top: auto;
  padding-bottom: 10px;
}

.menus li a {
  margin: 0 10px;
  color: black;
}

.body{
    /* background-color: crimson; */
    display: flex;
    height: 75vh;
}

#pics{
    /* background-color: dodgerblue; */
    width: 60vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;

}

#pics img {
  width: calc(50% -20px);
  max-width: 400px;
  height: 250px;
  max-height: 400px;
  padding: 10px;
}

#two{
    /* background-color: chartreuse; */
    width: 40vw;
    display: flex;
    justify-content: center;

}
#feeding-fam{
   height: auto;
   max-height: auto;
   max-width: 100%;
   width: auto;
}
